












  
 
/* background-color: whitesmoke;

    animation:mySlide;
    position: relative;
    animation: mySlide 0s infinite;

  } */
  
 
  

  /* @keyframes mySlide{
    0% {
        left: 0;
      }
      100% {
        left: calc(100% - 100px); 
      }
   
  }
   */