.space{
  height: 100px;
  width: 50px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color:whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    
  }
  
  /* Style for form labels */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Style for form inputs */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select,
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* Style for the submit button */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Style for the form container */
  div {
    margin-bottom: 15px;
  }
  
  /* Style for form container heading */
  h2 {
    text-align: center;
    color: #333;
  }
  
  /* Style for form container footer */
  footer {
    text-align: center;
    margin-top: 20px;
    color: #888;
    font-size: 14px;
  }
 

    